.section2{
    height: 700px;
    margin: 70px 0 70px 0;
    display: flex;
    justify-content: center;
    
}

.enjoy1{
    color: black;
    font-size: 54px;
}
.para1{
    color:#696871;
    font-size: 18.6px;
}

.content{
    margin-right: 80px;
}

.svg1{
    width: 323px;
    height: 86px;
    margin: 0 1px 0 0;
    padding: 18px 255px 18px 18px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color: #ffffff;
    margin-bottom: 10px;
    display: flex;
}
.svg2{
    width: 323px;
    height: 86px;
    margin: 0 1px 0 0;
    padding: 18px 255px 18px 18px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color: #ffffff;
    display: flex;
}

.svg1_here{
    background-color: rgba(240, 64, 55, 0.1);
    width: 25px;
    height: 25px;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    border-radius: 50%;
}
.svg2_here{
    background-color: rgba(84, 84, 212, 0.1);
    width: 25px;
    height: 25px;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    border-radius: 50%;
    
}

.third_div{
    color: #19191b;
}
