.section4{
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;

}

.boy{
  
 
   
  
}

.girl{
 
}
.main_gb{
  display: flex;
  margin-top: 56px;
}