.section8{
    display: flex;
    justify-content: space-around;
}

.mid{
    margin: 30px;
    display:flex;
    justify-content:space-around;
    color:#19191b;
    font-family: Arial, Helvetica, sans-serif;
    
}

.sep{
    width:439px;
    height:34px;
    margin-left:200px;
}

.om{
    color:#19191b;


}