
body{
  width:1440px
}

.section1 {
  width: 1440px;
  height: 864px;
  margin: 0 0 0 0;
  padding: 21px 25px 0 32px;
  background-color: #5454d4;
}
.section1a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 0;
  color: white;
  
}

.omega{
  width: 71px;
  height: 28px;
  margin: 0 0 1px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.68px;
  word-spacing: 2px;
  color: #ffffff;
}



.cart{
  display: flex;
  justify-content: center;
   width: 27px;
  height: 18px;
  margin: 0 0px 4px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  word-spacing: 2px;
  text-align: center;
  color: #ffffff;
}

.cart_button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 1px 2px 1px 1px;
  border-radius: 20.3px;
  background-color: #fedc5a;
  

}
.cart_button1{
  width: 28px;
  height: 18px;
  margin: 3px 0 4px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: center;
  color: rgba(0, 0, 0, 0.79);
  font-weight: bold;

}
.cartW{
  margin-top: 5px;
  margin-right: 5px;
}
.section1b{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}






.headphone{
  margin-right: 100px;
  width: 352px;
  height: 570px;


}

.enjoy{
  width: 536px;
  height: 126px;
  margin: 69px 0 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  color: #ffffff;
  word-spacing: 2px;
}

.para{
  width: 482px;
  height: 70px;
  margin: 14px 51px 29px 3px;
  font-family: Arial, "Courier New", monospace;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  word-spacing: 2px;
  color: rgba(255, 255, 255, 0.7);
}

.numeric{
  display: flex;
 
}

.price{
  width: 290px;
  height: 118px;
  margin: 30px 243px 19px 3px;
  border-radius: 9px;
  background-color: #6565e9;
}

.doller_price{
  width: 118px;
  height: 81px;
  margin: 0 12px 0 20px;
  font-family:Arial, "Courier New", monospace;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -1.69px;
  word-spacing: 2px;
  color: #ffffff;
  margin-left: 20px;

}

.save {
  width: 122px;
  height: 34px;
  padding: 8px 9px 8px 12px;
  border-radius: 4.5px;
  background-color: #77bf41;
  width: 103px;
  height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  color: #ffffff;
  margin-top: 20px;
  
}

.original{
  width: 151px;
  height: 81px;
  margin: -29px 101px 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18.9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.29;
  letter-spacing: -0.83px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 20px;
}

.two_buttons{
  display: flex;
}
.addToCart{
  width: 180px;
  height: 24px;
  margin: 8px 8px 0 19px;
  padding: 15px 44px;
  border-radius: 4.5px;
  border: solid 0.9px #f0c931;
  background-color: #fedc5a;
  text-align: center;
  font-weight: bold;
  font-size: 18.9px;
  font-family: Arial, Helvetica, sans-serif;

  
}

.increment{
  width: 82px;
  height: 54px;
  border-radius: 4.5px;
  background-color: #f7f7fb;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18.9px;
  display: flex;
  justify-content: space-between;
}

#main{
  width: 1440px;
  height: 864px;
  margin: 0 0 133.2px;
  padding: 21px 25px 123px 32px;
  background-color: #5454d4;
}

.three{
  width: 195px;
  height: 18px;
  margin: 6px 531px 5px 520px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  word-spacing: 2px;
}

.three_a1{
  color: white;
}
.plus_minus{
  font-weight: 900;
  width: 24px;
  height: 52px;
  border-radius: 0 4.5px 4.5px 0;
  padding: 2px 2px 0 0;
  background-color: #eae9f2;
 
}

.one{
  width: 7px;
  height: 24px;
  margin: 15px 26px 14px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  text-align: center;
  color: rgba(0, 0, 0, 0.79);
}

.img_h1{
    width:352px;
    height:570px;
}

@media only screen and (max-width: 600px) {
  .price{
    margin-left:50px ;
  }
.enjoy_pre{
  margin-left:0px;
  width: 375px;
  
}
.enjoy{
  margin:0px;
  padding:0px;
  height:300px;
}
.img_h1{
    width:252px;
    height:270px;
    margin-left:50px;
}
  .section1b{
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding-top: 100px;
}
.section1 {
  width: 375px;
  height: 1500px;
  margin: 0 0 0 0;
  padding: 21px 0 0 0;

}
.section1a {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 0;
  color: white;
  
}
body{
  width:375px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.landing{
  width:375px
}
.enjoy{
  width: 236px;
  height: 126px;
  margin: 0 0 100px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  color: #ffffff;
  word-spacing: 2px;
}
.headphone{
  margin:0px;
  height:350px;
}
.para{
  padding-top:100px;
  width:375px;
  height:130px
}

.original{
  padding:0px
}
.two_buttons{
  margin-left:10px;
}

}



